* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin:50px 0 30px 0;
  text-align: center;
  font-size: 42px;
}

.header p {
  font-size: 20px;
}

.pads {
  /* background: lightblue; */
  width:100%;
  display: flex;
}

.pads > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  width:100px;
  flex: 1;
}

.letter {
  font-size: 30px;
  user-select: none;
}

.pad1{
  background-color: #DBADFF;
}

.pad2 {
  background-color: #A5B4E8;
}

.pad3 {
  background-color: #C2FEFF;
}

.pad4 {
  background-color: #7CEB93;
}

.pad5 {
  background-color: #EDFFB5;
}

.pad6 {
  background-color: #D8ADFF;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left:20%;
  }

  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left:80%;
  }
}

.visual > div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0;
  z-index: -11;
}

